{{>header}}
<form class="" action="/login" method="post">
      <label class="" for="username">Username</label>
      <input class="" type="text" name="username" id="username"
        placeholder="Enter your username"
        title="At least two letters" required autocomplete="off">
        <label class="" for="password">Password</label>
        <input class="" type="text" name="password" id="password"
          placeholder="Enter your password"
          title="At least two letters" required autocomplete="off">
      <input class="{{funcName}}" type="submit" value="Submit"/>
</form>
{{>footer}}
