{{!-- {{>header}} --}}

<form action="/posts" method="post">
    <input type="text" name="id" placeholder="id">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="desc" placeholder="desc">
    <input type="submit" value="Submit">
</form>

<ul>
    <div id="container">
    {{#each blogs}}
    <li><div class="container">
        Title : {{title}}
        <br>
        Desc : {{description}}
        <br>
        <form action="/like" method="post">
        <button type="submit" name="like" value={{id}}>Like</button> : {{likes}}
        </form>
    </div></li>
    {{/each}}
    </div>
</ul>
{{!-- {{>footer}} --}}