{{!-- {{>header}} --}}
<ul>
    {{#each blogs}}
    <li><div class="container">
        Title : {{title}}
        <br>
        Desc : {{description}}
        <br>
        Likes : {{likes}}
    </div></li>
    {{/each}}
</ul>
{{!-- {{>footer}} --}}