<form class="signup" action="/signup" method="POST">

  <label class="" for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="Enter your username" pattern="[A-Za-z]{2,20}" title="At least two letters" required autocomplete="off">

  <label class="" for="password">Password</label>
  <input type="text" name="password" id="password" placeholder="Enter your password" pattern="[A-Za-z]{2,20}" title="At least two letters" required autocomplete="off">

  <label for="confirmPassword">Confirm Password</label>
  <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>

  <input type="submit" value="submit">

</form>
